// Base Colors Variables
$base_100: #1C1C1C;
$base_200: #585757;
$base_300: #969696;
$base_400: #00000026;
$base_500: #0000000A;
$base_600: #FFFFFF;

// Primary And Error Variables
$primary_100: #004289;
$primary_200: #0F5096;
$error: #EF4147;

// Background Colors Variables
$bg_100: #FEFEFE;
$bg_200: #F8F8F8;
$bg_300: #EFEFEF;